@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;;
}

.typewriter {
  display: block;
  width: 100%; /* Ensures it takes up the full width of the parent */
  min-height: 1em; /* Prevents height from shrinking */
  text-align: center; /* Centers the text */
  white-space: nowrap; /* Keeps text in one line */
  overflow: hidden; /* Hides any overflow during typing */
  border-right: 2px solid transparent; /* For optional typewriter cursor */
}

.typewriter span {
  border-right: 2px solid black; /* Typewriter cursor */
  animation: blink 0.7s step-end infinite;
}

@keyframes blink {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}